In [1]:
import pandas as pd

In [2]:
xls = pd.ExcelFile("income_distribution.xlsx")

In [6]:
sheets = xls.sheet_names
sheets

['Contents', 'Table 2.1', 'Table 2.2', 'Table 2.3', 'Table 2.4', 'Table 2.5']

In [17]:
header = ["SA2","SA2 NAME","Earners","Median age of earners","Sum","Median","Mean","P80/P20","P80/P50","P20/P50","P10/P50","Gini coefficient","Top 1%","Top 5%","Top 10%","Lowest Quartile","Second Quartile","Third Quartile","Highest Quartile"]

In [33]:
sa2 = pd.read_excel(xls, 'Table 2.4')
sa2.columns=header

In [34]:
sa2 = sa2.iloc[585:1047,:]
sa2

,SA2,SA2 NAME,Earners,Median age of earners,Sum,Median,Mean,P80/P20,P80/P50,P20/P50,P10/P50,Gini coefficient,Top 1%,Top 5%,Top 10%,Lowest Quartile,Second Quartile,Third Quartile,Highest Quartile
585,201011001,Alfredton,7989,42,508645842,53932,63668,4.67,1.79,0.38,0.16,0.434,6.4,18.2,28.7,23.2,24.4,26.4,26
586,201011002,Ballarat,7595,47,591465895,53688,77876,5.76,2.01,0.35,0.14,0.527,11.7,27,38.4,25.2,22.8,22,30
587,201011003,Ballarat - North,13598,43,820866354,50593,60367,4.69,1.79,0.38,0.16,0.442,6.9,18.7,29.3,24.5,26.3,26.3,22.8
588,201011004,Ballarat - South,12722,40,646001740,45828,50778,4.33,1.69,0.39,0.17,0.408,4.9,15.7,26.1,26.5,30,28,15.4
589,201011005,Buninyong,4249,46,268782250,52377,63258,5.68,1.91,0.34,0.12,0.458,6.3,18.3,29.3,26.6,22.5,22.5,28.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1042,217031476,Otway,2360,51,109617595,36219,46448,5.79,1.94,0.34,0.12,0.502,8.1,21.4,33.2,35.4,30.2,21,13.4
1043,217041477,Moyne - East,4081,46,226791976,46071,55573,4.72,1.77,0.38,0.14,0.49,9.9,22.3,32.9,27.6,28.2,26.2,18
1044,217041478,Moyne - West,5852,48,325059577,45256,55547,4.9,1.86,0.38,0.16,0.467,7.8,20.3,31.1,28.5,27.5,25.1,19
1045,217041479,Warrnambool - North,13157,43,738088967,48855,56099,4.39,1.71,0.39,0.18,0.424,6.1,17.7,28.1,25.4,27.5,28.2,18.8
1046,217041480,Warrnambool - South,8052,44,469001061,47242,58247,4.24,1.74,0.41,0.18,0.454,10,21.8,31.9,25,29.6,27,18.4

In [36]:
sa2.to_csv('saved_sa2.csv')

In [35]:
# Get all data
'''sa2['SA2']=pd.to_numeric(sa2['SA2'],'coerce')
sa2 = sa2.dropna()
sa2'''

"sa2['SA2']=pd.to_numeric(sa2['SA2'],'coerce')\nsa2 = sa2.dropna()\nsa2"