In [4]:
import math

import osmnx as ox

/Users/luohaochen/opt/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [5]:
place = 'Melbourne, Victoria, Australia'

In [6]:
## Get the location list

In [7]:
school = ox.geometries_from_place(place, tags={'amenity': 'school'})
school.head()

                      barrier  \
element_type osmid
way          22915936     NaN
             25567572     NaN
             36836631     NaN
             38807947     NaN
             46410879     NaN

                                                                geometry  \
element_type osmid
way          22915936  POLYGON ((144.90780 -38.35509, 144.90780 -38.3...
             25567572  POLYGON ((145.01238 -38.27450, 145.01241 -38.2...
             36836631  POLYGON ((145.13702 -38.13852, 145.13863 -38.1...
             38807947  POLYGON ((145.17565 -38.19438, 145.17574 -38.1...
             46410879  POLYGON ((145.24363 -38.14771, 145.24504 -38.1...

                      fixme  \
element_type osmid
way          22915936   NaN
             25567572   NaN
             36836631   NaN
             38807947   NaN
             46410879   NaN

                                                                   nodes  \
element_type osmid
way          22915936  [246714329, 246714330, 246714331, 246714332, 9...
             25567572  [278689940, 278689941, 278689942, 278689943, 2...
             36836631  [428222083, 428222084, 2987124282, 3343196755,...
             38807947  [460387936, 1699634550, 460387937, 460387938, ...
             46410879  [592702960, 592702961, 592702962, 592702963, 5...

                      addr:housenumber        addr:street amenity grades  \
element_type osmid
way          22915936              923  Point Nepean Road  school    0-6
             25567572            37-55     Glenisla Drive  school    0-6
             36836631              161      McMahons Road  school   7-12
             38807947              485    Golf Links Road  school   7-12
             46410879              239    Pearcedale Road  school    0-6

                      isced:level                             name  ...  \
element_type osmid                                                  ...
way          22915936           1           Rosebud Primary School  ...
             25567572           1      Mount Martha Primary School  ...
             36836631         2-3                John Paul College  ...
             38807947         2-3   Woodleigh School Senior Campus  ...
             46410879           1  Cranbourne South Primary School  ...

                      landuse oneway:conditional description old_name:-2018  \
element_type osmid
way          22915936     NaN                NaN         NaN            NaN
             25567572     NaN                NaN         NaN            NaN
             36836631     NaN                NaN         NaN            NaN
             38807947     NaN                NaN         NaN            NaN
             46410879     NaN                NaN         NaN            NaN

                      proposed:amenity old_name:-2013 addr:housename proposed  \
element_type osmid
way          22915936              NaN            NaN            NaN      NaN
             25567572              NaN            NaN            NaN      NaN
             36836631              NaN            NaN            NaN      NaN
             38807947              NaN            NaN            NaN      NaN
             46410879              NaN            NaN            NaN      NaN

                      construction source:addr
element_type osmid
way          22915936          NaN         NaN
             25567572          NaN         NaN
             36836631          NaN         NaN
             38807947          NaN         NaN
             46410879          NaN         NaN

[5 rows x 93 columns]

In [38]:
hospital = ox.geometries_from_place(place, tags={'amenity': 'hospital'})
hospital.head()

                        entrance  \
element_type osmid
node         5302929934      NaN
way          25520531        NaN
             27877701        NaN
             47528828        NaN
             135642318       NaN

                                                                  geometry  \
element_type osmid
node         5302929934                        POINT (145.04190 -38.22382)
way          25520531    POLYGON ((144.88544 -38.36129, 144.88541 -38.3...
             27877701    POLYGON ((145.12639 -38.15014, 145.12661 -38.1...
             47528828    POLYGON ((145.17002 -38.15691, 145.16989 -38.1...
             135642318   POLYGON ((145.16949 -38.15643, 145.16927 -38.1...

                          amenity                        name  \
element_type osmid
node         5302929934  hospital           The Bays Hospital
way          25520531    hospital            Rosebud Hospital
             27877701    hospital          Frankston Hospital
             47528828    hospital                         NaN
             135642318   hospital  Peninsula Private Hospital

                                                                     nodes  \
element_type osmid
node         5302929934                                                NaN
way          25520531    [278113218, 4142779988, 2005987916, 1687242602...
             27877701    [4978638917, 4978638919, 4978638912, 306077117...
             47528828    [605153112, 7412733907, 7412733905, 7412733906...
             135642318   [1489452602, 5314524049, 3269608913, 531452406...

                        addr:housenumber addr:postcode        addr:street  \
element_type osmid
node         5302929934              NaN           NaN                NaN
way          25520531               1527          3939  Point Nepean Road
             27877701                  2           NaN      Hastings Road
             47528828                NaN           NaN                NaN
             135642318               NaN           NaN                NaN

                        emergency healthcare  ... ways type is_in postal_code  \
element_type osmid                            ...
node         5302929934       NaN        NaN  ...  NaN  NaN   NaN         NaN
way          25520531         yes   hospital  ...  NaN  NaN   NaN         NaN
             27877701         yes   hospital  ...  NaN  NaN   NaN         NaN
             47528828         NaN        NaN  ...  NaN  NaN   NaN         NaN
             135642318        yes        NaN  ...  NaN  NaN   NaN         NaN

                        wikipedia source:name attribution source:addr rooms  \
element_type osmid
node         5302929934       NaN         NaN         NaN         NaN   NaN
way          25520531         NaN         NaN         NaN         NaN   NaN
             27877701         NaN         NaN         NaN         NaN   NaN
             47528828         NaN         NaN         NaN         NaN   NaN
             135642318        NaN         NaN         NaN         NaN   NaN

                        phone:AU
element_type osmid
node         5302929934      NaN
way          25520531        NaN
             27877701        NaN
             47528828        NaN
             135642318       NaN

[5 rows x 61 columns]

In [10]:
station = ox.geometries_from_place(place, tags={'public_transport': 'station'})
station.head()

                                name     name:en name:zh  \
element_type osmid
node         1766897048   Mornington  Mornington     莫宁顿
             1874062761     Hastings         NaN     NaN
             4814726010   Somerville         NaN     NaN
way          130521328   Stony Point         NaN  斯托尼波恩特
             130542652    Crib Point         NaN     NaN

                                                        operator  \
element_type osmid
node         1766897048  Mornington Railway Preservation Society
             1874062761        Public Transport Victoria - Metro
             4814726010        Public Transport Victoria - Metro
way          130521328                    Metro Trains Melbourne
             130542652         Public Transport Victoria - Metro

                        public_transport  railway tourism  \
element_type osmid
node         1766897048          station  station     yes
             1874062761          station  station     NaN
             4814726010          station  station     NaN
way          130521328           station  station     NaN
             130542652           station  station     NaN

                                                                  geometry  \
element_type osmid
node         1766897048                        POINT (145.05030 -38.22989)
             1874062761                        POINT (145.18599 -38.30561)
             4814726010                        POINT (145.17633 -38.22542)
way          130521328   POLYGON ((145.22159 -38.37412, 145.22159 -38.3...
             130542652   POLYGON ((145.20409 -38.36591, 145.20414 -38.3...

                        source   wikidata  ... official_name source:name  \
element_type osmid                         ...
node         1766897048    NaN        NaN  ...           NaN         NaN
             1874062761   bing  Q14935150  ...           NaN         NaN
             4814726010    NaN   Q7559990  ...           NaN         NaN
way          130521328     NaN   Q7619601  ...           NaN         NaN
             130542652     NaN   Q5184871  ...           NaN         NaN

                        source:official_name nohousenumber  \
element_type osmid
node         1766897048                  NaN           NaN
             1874062761                  NaN           NaN
             4814726010                  NaN           NaN
way          130521328                   NaN           NaN
             130542652                   NaN           NaN

                        internet_access:fee heritage historic  \
element_type osmid
node         1766897048                 NaN      NaN      NaN
             1874062761                 NaN      NaN      NaN
             4814726010                 NaN      NaN      NaN
way          130521328                  NaN      NaN      NaN
             130542652                  NaN      NaN      NaN

                        air_conditioning access addr:province
element_type osmid
node         1766897048              NaN    NaN           NaN
             1874062761              NaN    NaN           NaN
             4814726010              NaN    NaN           NaN
way          130521328               NaN    NaN           NaN
             130542652               NaN    NaN           NaN

[5 rows x 78 columns]

In [11]:
mall = ox.geometries_from_place(place, tags={'shop': ['department_store', 'mall']})
mall.head()

                                            geometry   brand brand:wikidata  \
element_type osmid
node         604292318   POINT (145.12462 -38.13971)   Kmart       Q6421682
             604292555   POINT (145.12360 -38.14202)  Target       Q7685854
             662734452   POINT (145.16955 -38.22506)  Target       Q7685854
             876653284   POINT (145.12494 -38.14141)    Myer       Q1110323
             1188667664  POINT (144.89048 -38.36160)  Target       Q7685854

                             brand:wikipedia    name  \
element_type osmid
node         604292318    en:Kmart Australia   Kmart
             604292555   en:Target Australia  Target
             662734452   en:Target Australia  Target
             876653284               en:Myer    Myer
             1188667664  en:Target Australia  Target

                                                                      note  \
element_type osmid
node         604292318   variety_store is for reject shop and 2$ type s...
             604292555                                                 NaN
             662734452                                                 NaN
             876653284                                                 NaN
             1188667664                                                NaN

                                     shop                    website level  \
element_type osmid
node         604292318   department_store  https://www.kmart.com.au/   NaN
             604292555   department_store          www.target.com.au     1
             662734452   department_store          www.target.com.au   NaN
             876653284   department_store   https://www.myer.com.au/   NaN
             1188667664  department_store          www.target.com.au   NaN

                        amenity  ... name:el disused  ele opening_date ways  \
element_type osmid               ...
node         604292318      NaN  ...     NaN     NaN  NaN          NaN  NaN
             604292555      NaN  ...     NaN     NaN  NaN          NaN  NaN
             662734452      NaN  ...     NaN     NaN  NaN          NaN  NaN
             876653284      NaN  ...     NaN     NaN  NaN          NaN  NaN
             1188667664     NaN  ...     NaN     NaN  NaN          NaN  NaN

                        type  atm contact:facebook room fixme
element_type osmid
node         604292318   NaN  NaN              NaN  NaN   NaN
             604292555   NaN  NaN              NaN  NaN   NaN
             662734452   NaN  NaN              NaN  NaN   NaN
             876653284   NaN  NaN              NaN  NaN   NaN
             1188667664  NaN  NaN              NaN  NaN   NaN

[5 rows x 88 columns]

In [100]:
park = ox.geometries_from_place(place, tags={'leisure': 'park'})
park.head()

                            created_by  \
element_type osmid
node         6023989929            NaN
             8110389594            NaN
way          25606281              NaN
             25606415              NaN
             25621870    Potlatch 0.9c

                                                                  geometry  \
element_type osmid
node         6023989929                        POINT (145.08447 -38.23982)
             8110389594                        POINT (145.07658 -38.42032)
way          25606281    POLYGON ((145.03615 -38.21595, 145.03603 -38.2...
             25606415    POLYGON ((145.03467 -38.22616, 145.03525 -38.2...
             25621870    POLYGON ((145.03096 -38.24068, 145.03139 -38.2...

                        source access barrier leisure             name foot  \
element_type osmid
node         6023989929    NaN    NaN     NaN    park     Tabulum Park  NaN
             8110389594    NaN    NaN     NaN    park      Pinic Table  NaN
way          25606281      NaN    NaN     NaN    park  Mornington Park  NaN
             25606415      NaN    NaN     NaN    park              NaN  NaN
             25621870      NaN    NaN     NaN    park              NaN  NaN

                        natural  \
element_type osmid
node         6023989929     NaN
             8110389594     NaN
way          25606281       NaN
             25606415       NaN
             25621870       NaN

                                                                     nodes  \
element_type osmid
node         6023989929                                                NaN
             8110389594                                                NaN
way          25606281    [279099568, 279099569, 279099570, 279099571, 2...
             25606415    [279101461, 279101462, 279101463, 279101464, 2...
             25621870    [279248515, 279248516, 279248517, 279248519, 2...

                         ... name:woi wurrung old_name:1 old_name:2  ele  \
element_type osmid       ...
node         6023989929  ...              NaN        NaN        NaN  NaN
             8110389594  ...              NaN        NaN        NaN  NaN
way          25606281    ...              NaN        NaN        NaN  NaN
             25606415    ...              NaN        NaN        NaN  NaN
             25621870    ...              NaN        NaN        NaN  NaN

                        area:ha staff  lit source:alt_name iucn_level  \
element_type osmid
node         6023989929     NaN   NaN  NaN             NaN        NaN
             8110389594     NaN   NaN  NaN             NaN        NaN
way          25606281       NaN   NaN  NaN             NaN        NaN
             25606415       NaN   NaN  NaN             NaN        NaN
             25621870       NaN   NaN  NaN             NaN        NaN

                        alt_name_1
element_type osmid
node         6023989929        NaN
             8110389594        NaN
way          25606281          NaN
             25606415          NaN
             25621870          NaN

[5 rows x 101 columns]

In [29]:
import googlemaps

api_key = 'AIzaSyBTArMggPjMbdcoHmkbU3aXS2mKe2L5kL4'
# Requires API key
gmaps = googlemaps.Client(key=api_key)

In [35]:
def get_disatance(location, tag):
    tag_list = ['train_station', 'hospital', 'school', 'mall', 'park', 'cbd']
    shortest = 999999999
    origin_latitude = location[0]
    origin_longitude = location[1]
    if tag not in tag_list:
        print("Tag error!")
        return 0
    if tag == 'train_station':
        locations = station
    if tag == 'hospital':
        locations = hospital
    if tag == 'school':
        locations = school
    if tag == 'mall':
        locations = mall
    if tag == 'park':
        locations = park
    if tag == 'cbd':
        destination_latitude = -37.8124
        destination_longitude = 144.9623
        distance = gmaps.distance_matrix([str(origin_latitude) + " " + str(origin_longitude)],
                                         [str(destination_latitude) + " " + str(destination_longitude)],
                                         mode='driving')['rows'][0]['elements'][0]
        distance = float(distance['distance']['text'][:-3].replace(',', ''))
        return distance

    # Compute the euclidean distance first, picked the first five result and then compute the drive disrance, it helps to save time.
    ecu_distance_list = {}
    for loc in locations['geometry']:
        center = loc.centroid
        destination_latitude = center.y
        destination_longitude = center.x
        ecu_distance = math.sqrt(
            pow(destination_latitude - origin_latitude, 2) + pow(destination_longitude - origin_longitude, 2))
        ecu_distance_list[(destination_latitude,destination_longitude)]=ecu_distance

    ecu_distance_list = sorted(ecu_distance_list.items(), key = lambda kv:(kv[1], kv[0]))
    for loc in ecu_distance_list[:5]:
        destination_latitude = loc[0][0]
        destination_longitude = loc[0][1]
        try:
            distance = gmaps.distance_matrix([str(origin_latitude) + " " + str(origin_longitude)],
                                             [str(destination_latitude) + " " + str(destination_longitude)],
                                             mode='driving')['rows'][0]['elements'][0]
            distance = float(distance['distance']['text'][:-3].replace(',', ''))
        except:
            distance = 99999999
        if distance < shortest:
            shortest = distance
    return shortest

In [39]:
get_disatance((-37.6365691, 145.0199083), 'hospital')

3.1