In [30]:
import re
import pandas as pd

In [31]:
property_files = '../data/raw/property_meta'

In [32]:
df = pd.read_csv(f'{property_files}/property_metadata.csv')
# the number of properties that is going to be processed
len(df)

7399

In [34]:
df['postcode'] = df['name'].str[-4:]
df['name'] = df['name'].str[:-5]

In [35]:
rooms = df['rooms'].str.split(',', expand=True)
rooms = rooms.iloc[:, :-1]
rooms.columns = ['bed', 'bath', 'car']
rooms.fillna(0)
rooms['bed'] = rooms.bed.str.extract('(\d+)').fillna(0).astype('int64')
rooms['bath'] = rooms.bath.str.extract('(\d+)').fillna(0).astype('int64')
rooms['car'] = rooms.car.str.extract('(\d+)').fillna(0).astype('int64')

In [36]:
df = pd.concat([df, rooms], axis=1)
df = df.drop(columns=['rooms'])

In [37]:
df.head()

,url,name,type,cost_text,coordinates,desc,postcode,bed,bath,car
0,https://www.domain.com.au/5-1-3-rex-avenue-alp...,5/1-3 Rex Avenue Alphington VIC,Apartment / Unit / Flat,$440.00,"[-37.7856068, 145.0249141]","class=""css-dxogle"">* Unverified feature<svg a...",3078,2,1,1
1,https://www.domain.com.au/805-81-queens-road-m...,805/81 Queens Road Melbourne VIC,Studio,$380 weekly,"[-37.853804, 144.9798785]",Leasing Concierge,3004,0,1,1
2,https://www.domain.com.au/12-1-rex-avenue-alph...,12/1 Rex Avenue Alphington VIC,Apartment / Unit / Flat,$460.00,"[-37.7856092, 145.0249185]",Pyper Byrne,3078,2,1,1
3,https://www.domain.com.au/3-lime-ct-bellfield-...,3 Lime Ct Bellfield VIC,House,$425 PW | Weston Real Estate,"[-37.7548292, 145.041952]","class=""css-dxogle"">* Unverified feature<svg a...",3081,3,1,3
4,https://www.domain.com.au/24-36-ridley-street-...,24/36 Ridley Street Albion VIC,Apartment / Unit / Flat,$250,"[-37.7834829, 144.8233623]","class=""css-dxogle"">* Unverified feature<svg a...",3020,1,1,1

In [20]:
from collections import Counter

In [21]:
# Counter(" ".join(df["desc"].str.lower()).split()).most_common(100)

In [22]:
# Counter(" ".join(df["desc"]).split()).most_common(100)

In [38]:
df.dtypes

url            object
name           object
type           object
cost_text      object
coordinates    object
desc           object
postcode       object
bed             int64
bath            int64
car             int64
dtype: object

In [39]:
df['postcode'].value_counts()

3000    299
3141    185
3121    159
3182    153
3006    147
       ...
3980      1
3759      1
3713      1
3763      1
3089      1
Name: postcode, Length: 192, dtype: int64

In [25]:
df['type'].value_counts()

Apartment / Unit / Flat          3408
House                            2972
Townhouse                         777
Studio                            184
Villa                              23
Carspace                            9
Acreage / Semi-Rural                6
Semi-Detached                       5
Terrace                             5
Duplex                              2
Rural                               1
Penthouse                           1
New Apartments / Off the Plan       1
Name: type, dtype: int64

In [28]:
postcode_df = pd.read_csv('../data/raw/abs/australian_postcodes.csv')
postcode_df = postcode_df[postcode_df['state'] == 'VIC']
columns = ['postcode', 'locality', 'long', 'lat', 'region', 'Lat_precise', 'Long_precise', 'SA2_MAINCODE_2016', 'SA2_NAME_2016', 'RA_2016', 'MMM_2019', 'altitude', 'phn_name', 'lgaregion']
postcode_df = postcode_df[columns]
postcode_df.head()

,postcode,locality,long,lat,region,Lat_precise,Long_precise,SA2_MAINCODE_2016,SA2_NAME_2016,RA_2016,MMM_2019,altitude,phn_name,lgaregion
6151,3000,MELBOURNE,144.956776,-37.817403,R1,-37.815207,144.963937,206041122.0,Melbourne,1.0,1.0,15.244751,North Western Melbourne,Melbourne
6152,3001,MELBOURNE,144.956776,-37.817403,R1,-37.813628,144.963058,206041122.0,Melbourne,1.0,1.0,15.244751,NaN,Moonee Valley
6153,3002,EAST MELBOURNE,144.982207,-37.818517,R1,-37.816144,144.980459,206041119.0,East Melbourne,1.0,1.0,14.315022,North Western Melbourne,Yarra
6154,3003,WEST MELBOURNE,144.949592,-37.810871,R1,-37.811450,144.925397,206041127.0,West Melbourne,1.0,1.0,15.316063,North Western Melbourne,Melbourne
6155,3004,MELBOURNE,144.970161,-37.844246,R1,-37.830158,144.980459,206041126.0,Southbank,1.0,1.0,-3492.000000,South Eastern Melbourne,Yarra

In [29]:
postcode_df['postcode'].value_counts().head()

3352    62
3401    48
3551    41
3691    37
3678    35
Name: postcode, dtype: int64